* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#0291ff, #ffc800);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 30rem;
    max-height: 60rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
    border-radius: 1em;
}

.container .header {
    width: 100%;
    background-color: rgba(0, 255, 170, 0.404);
    padding: 0.5em;
    border-radius: 1em 1em 0 0;

}

.container .insert-task {
    width: fit-content;
    margin: 1.8em;
    border: 1px solid #ff6702;
    border-radius: 8px;
}

.container .insert-task input {
    font-size: 20px;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
    border-radius: 8px 0 0 8px;
}

.container .insert-task button {
    background-color: #0291ff;
    color: white;
    font-size: 24px;
    padding: 5px 7px;
    border: none;
    border-radius: 0 8px 8px 0;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .list-item {
    width: 80%;
    height: 12em;
    list-style: none;
    font-size: 22px;
    text-align: center;
    border: 0.01em solid white;
    border-radius: 10px;
    text-transform: capitalize;
    overflow: auto;
}

.box .list-item li {
    width: 100%;
    background-color: #ffeca849;
    color: rgb(12, 12, 12);
    border-radius: 10px;
    border-bottom: 1px solid #0291ff;
    padding: 6px 10px 6px 20px;
    text-align: left;
}

.box .list-item li a{
    width: 1.2em;
    height: 1.2em;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    float: right;
    color: rgb(255, 17, 0);
    border: 1px solid rgb(255, 17, 0);

}